<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="referrer" content="origin">
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<link rel="shortcut icon" href="/assets/images/favicon-cali.ico" type="image/vnd.microsoft.icon" />
	<link href='/assets/themes/the-program/css/style.css' rel="stylesheet" media="all">
	<link href="http://feeds.feedburner.com/{{ site.author.feedbaname }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Enriqueta' rel='stylesheet' type='text/css'>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
</head>
<body>

<div id="page" class="hentry">
	<header class="the-header">
		<div class="unit-head">
			<div class="unit-inner unit-head-inner">
				<div style="position: absolute; top: 10px; right: 10px; font-size: 0.9em;">
					{% if page.lang != 'it' %}<a href="/" title="Italiano"><i class="fa fa-globe"></i> IT</a>{% else %}<span style="color: #999;"><i class="fa fa-globe"></i> IT</span>{% endif %} |
					{% if page.lang != 'en' %}<a href="/en/" title="English">EN</a>{% else %}<span style="color: #999;">EN</span>{% endif %} |
					{% if page.lang != 'de' %}<a href="/de/" title="Deutsch">DE</a>{% else %}<span style="color: #999;">DE</span>{% endif %} |
					{% if page.lang != 'fr' %}<a href="/fr/" title="Français">FR</a>{% else %}<span style="color: #999;">FR</span>{% endif %}
				</div><br />
				<nav class="nav-global">
					<ul class="fa-ul">
						<li class="logo"><a href="{% if page.lang == 'en' %}/en{% elsif page.lang == 'de' %}/de{% elsif page.lang == 'fr' %}/fr{% endif %}/">{{ site.title }}</a></li>
					{% assign lang_prefix = '' %}
					{% if page.lang == 'en' %}{% assign lang_prefix = '/en' %}{% elsif page.lang == 'de' %}{% assign lang_prefix = '/de' %}{% elsif page.lang == 'fr' %}{% assign lang_prefix = '/fr' %}{% endif %}
					<li class=""><a href="{{ lang_prefix }}/#top" class=""><i class="fa fa-home fa-fw fa-lg"></i>&nbsp;{% if page.lang == 'en' %}Home{% elsif page.lang == 'de' %}Startseite{% elsif page.lang == 'fr' %}Accueil{% else %}Home{% endif %}</a></li>
					<li class=""><a href="{{ lang_prefix }}/about.html#top" class=""><i class="fa fa-leaf fa-fw fa-lg"></i>&nbsp;{% if page.lang == 'en' %}Philosophy{% elsif page.lang == 'de' %}Philosophie{% elsif page.lang == 'fr' %}Philosophie{% else %}Filosofia{% endif %}</a></li>
					<li class=""><a href="{{ lang_prefix }}/stanze.html#top" class=""><i class="fa fa-bed fa-fw fa-lg"></i>&nbsp;{% if page.lang == 'en' %}Rooms{% elsif page.lang == 'de' %}Zimmer{% elsif page.lang == 'fr' %}Chambres{% else %}Stanze{% endif %}</a></li>
					<li class=""><a href="{{ lang_prefix }}/prodotti.html#top" class=""><i class="fa fa-gift fa-fw fa-lg"></i>&nbsp;{% if page.lang == 'en' %}Products{% elsif page.lang == 'de' %}Produkte{% elsif page.lang == 'fr' %}Produits{% else %}Prodotti{% endif %}</a></li>
					<li class=""><a href="{{ lang_prefix }}/spazi.html#top" class=""><i class="fa fa-tree fa-fw fa-lg"></i>&nbsp;{% if page.lang == 'en' %}Spaces{% elsif page.lang == 'de' %}Räume{% elsif page.lang == 'fr' %}Espaces{% else %}Spazi{% endif %}</a></li>
					<li class=""><a href="{{ lang_prefix }}/animali.html#top" class=""><i class="fa fa-heart fa-fw fa-lg"></i>&nbsp;{% if page.lang == 'en' %}Animals{% elsif page.lang == 'de' %}Tiere{% elsif page.lang == 'fr' %}Animaux{% else %}Animali{% endif %}</a></li>
					<li class=""><a href="{{ lang_prefix }}/past.html#top" class=""><i class="fa fa-history fa-fw fa-lg"></i>&nbsp;{% if page.lang == 'en' %}History{% elsif page.lang == 'de' %}Geschichte{% elsif page.lang == 'fr' %}Histoire{% else %}Storia{% endif %}</a></li>
					<li class=""><a href="{{ lang_prefix }}/prezzi.html#top" class=""><i class="fa fa-euro fa-fw fa-lg"></i>&nbsp;{% if page.lang == 'en' %}Prices{% elsif page.lang == 'de' %}Preise{% elsif page.lang == 'fr' %}Tarifs{% else %}Prezzi{% endif %}</a></li>
					<li class=""><a href="{{ lang_prefix }}/contact.html#top" class=""><i class="fa fa-map-marker fa-fw fa-lg"></i>&nbsp;{% if page.lang == 'en' %}How to Find Us{% elsif page.lang == 'de' %}Wie Sie uns finden{% elsif page.lang == 'fr' %}Comment nous trouver{% else %}Come Trovarci{% endif %}</a></li>
					</ul>
				</nav>
			</div><!-- unit-inner -->
		</div><!-- unit-head -->
	</header>
	<div id="top" class="body" role="main">
		<div class="unit-body">
			<div class="unit-inner unit-body-inner">
				<div class="entry-content">
					{{ content }}
				</div>
			</div><!-- unit-inner -->
		</div><!-- unit-body -->
	</div><!-- body -->
	<footer class="the-footer">
		<div class="unit-foot">
			<div class="unit-inner unit-foot-inner">
				<div class="misc vcard">
				<h4>{% if page.lang == 'en' %}Contact{% elsif page.lang == 'de' %}Kontakt{% elsif page.lang == 'fr' %}Contact{% else %}Contatti{% endif %}</h4>
				<p>
				<strong>Agriturismo Mausset</strong><br />
				Borgata Maussa<br />
				Villar Pellice (TO)<br />
				{% if page.lang == 'en' %}Italy{% elsif page.lang == 'de' %}Italien{% elsif page.lang == 'fr' %}Italie{% else %}Italia{% endif %}<br />
				<br />
				<a href="tel:+393452622959"><i class="fa fa-phone fa-fw fa-lg"></i> +39 345 2622959</a><br />
				<a href="https://wa.me/393452622959"><i class="fa fa-whatsapp fa-fw fa-lg"></i> WhatsApp</a><br />
				<a href="mailto:agriturismoilmausset@gmail.com"><i class="fa fa-envelope fa-fw fa-lg"></i> Email</a><br />
				<a href="https://maps.app.goo.gl/X4zTw6P9rvjU8rYz9" target="_blank"><i class="fa fa-map-marker fa-fw fa-lg"></i> {% if page.lang == 'en' %}Where we are{% elsif page.lang == 'de' %}Wo wir sind{% elsif page.lang == 'fr' %}Où nous sommes{% else %}Dove siamo{% endif %}</a>
				</p>
				<h4>{% if page.lang == 'en' %}Social Media{% elsif page.lang == 'de' %}Soziale Medien{% elsif page.lang == 'fr' %}Réseaux Sociaux{% else %}Social media{% endif %}</h4>
				<ul class="fa-ul">
					<li class=""><a href="https://www.facebook.com/Agriturismo-Il-Mausset" rel="me" target="_blank"><i class="fa fa-facebook fa-fw fa-lg"></i>&nbsp;Facebook</a></li>
				</ul>
				<p>
				<small>CIN: IT001306B5MSQ7EMRF</small>
				</p>
				</div><!-- misc -->
			</div><!-- unit-foot-inner -->
		</div><!-- unit-foot -->
	</footer>
</div><!-- page -->
<script>
	(function(d, s) {
		var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.src = url; js.id = id;
		fjs.parentNode.insertBefore(js, fjs);
		};
	load('//platform.twitter.com/widgets.js', 'tweetjs');
	// load('https://apis.google.com/js/plusone.js', 'gplus1js'); // Checkout http://j.mp/ApDgMr for usage html for this is <div class="g-plusone" data-size="medium"></div>
	// load('//connect.facebook.net/en_US/all.js#xfbml=1', 'fbjssdk'); // Checkout http://j.mp/wZw2xR for using open graph protorol html for this is <div class="fb-like" data-href="{{ page.url }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div>
	}(document, 'script'));
</script>
<script>
/*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/
(function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);
</script>
<script>
// Open external links in new tab
(function() {
  var links = document.querySelectorAll('a');
  var hostname = window.location.hostname;
  for (var i = 0; i < links.length; i++) {
    var link = links[i];
    var href = link.getAttribute('href');
    // Check if link is external (not on current domain)
    if (href && href.indexOf('http') === 0 && link.hostname !== hostname) {
      link.setAttribute('target', '_blank');
      link.setAttribute('rel', 'noopener noreferrer');
    }
  }
})();
</script>

  {% include JB/analytics %}
</body>
</html>
