<article class="unit-article layout-page">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title"><span class="fa fa-{{ page.icon }} fa-fw fa-lg"></span>&nbsp;{{ page.title }}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
					{{ content }}
				</div><!-- entry-content -->
			</div><!-- bd -->

			<footer class="unit-foot">
				<div class="unit-inner unit-foot-inner">
					<p class="gotop">
						{% assign lang_prefix = '' %}
						{% if page.lang == 'en' %}{% assign lang_prefix = '/en' %}{% elsif page.lang == 'de' %}{% assign lang_prefix = '/de' %}{% elsif page.lang == 'fr' %}{% assign lang_prefix = '/fr' %}{% endif %}
						<a href="{{ lang_prefix }}/" title="{% if page.lang == 'en' %}Back to the Home page{% elsif page.lang == 'de' %}Zur Startseite{% elsif page.lang == 'fr' %}Retour à la page d'accueil{% else %}Torna alla home{% endif %}"><b>{% if page.lang == 'en' %}HOME{% elsif page.lang == 'de' %}STARTSEITE{% elsif page.lang == 'fr' %}ACCUEIL{% else %}HOME{% endif %}</b></a> | <a href="#" title="{% if page.lang == 'en' %}To the top of this page{% elsif page.lang == 'de' %}Zum Seitenanfang{% elsif page.lang == 'fr' %}En haut de la page{% else %}Torna su{% endif %}"><b>{% if page.lang == 'en' %}BACK TO TOP{% elsif page.lang == 'de' %}NACH OBEN{% elsif page.lang == 'fr' %}RETOUR EN HAUT{% else %}TORNA SU{% endif %}</b></a>
					</p>
				</div>
			</footer>

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>
